extends ../layout

block vars
  - const title = '第5回勉強会';
  - const path = '5';
  - const call = fs.readFileSync('src/5/call.txt', 'utf8');

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第5回勉強会の開催内容を紹介しています.

block body
  section#overview
    p(style="float: right; margin: 15px 10px;")
      img(src="http://sigchi.jp/assets/images/SIGCHI_logo.png" width="240")
    h2 概要
    ul
      li
        strong 場所:
        |  
        a(href="https://www.s.u-tokyo.ac.jp/ja/map/map06.html") 東京大学本郷キャンパス 理学部7号館
        |  2階202講義室
      li
        strong 日時:
        |  2018年12月3日（月） 14時から（13時半開場）
      li
        strong テーマ:
        |  「プログラミング体験（PX）に関する研究紹介」
      li
        strong 共催:
        |  
        a(href="http://sigchi.jp/about.html") Japan ACM SIGCHI Chapter
    h2
      | プログラム 
      span.gray (2018年12月2日 掲載)
    table
      tbody
        tr.title
          th(colspan="2")
            b 14:00
            |  Session #0
        tr
          th SIGPXの概要・国際的な研究動向
          td.affiliation 加藤・増原 (産業技術総合研究所・東京工業大学)
    table
      tbody
        tr.title
          th(colspan="2")
            b 14:05
            |  Session #1 Domain-Specific PX
        tr
          th アクションペインティングスタイルプログラミングのためのプログラミングシステム
          td.affiliation 佐藤 輝年 (東京大学)
        tr
          th 既存ディジタルゲームへの入力のプログラミング体験
          td.affiliation 栗原 一貴	(津田塾大学)
        tr
          th 時間を扱うプログラミング
          td.affiliation 青木 海 (sigboost株式会社)
        tr
          th Using Pipelines to Compose Complex Concurrent Algorithms on a REPL Interface
          td.affiliation Jeanine Miller Adkisson (東京工業大学)
        tr
          th 再帰関数と数学的帰納法
          td.affiliation 叢 悠悠 (お茶の水女子大学)
    table
      tbody
        tr.title
          th(colspan="2")
            b 15:30
            |  Session #2 Lightning Talks
    table
      tbody
        tr.title
          th(colspan="2")
            b 15:45
            |  Session #3 おやつ
    table
      tbody
        tr.title
          th(colspan="2")
            b 16:00
            |  Session #4 Machine Learning & Programming
        tr
          th 例示プログラミングを用いた対話的データ変換
          td.affiliation 成田 穂	(東京大学 五十嵐CREST)
        tr
          th プログラミング+機械学習の取り組みサーベイ
          td.affiliation 三上 裕明 (ソニー株式会社)
        tr
          th Deep Learning-based Code Completion
          td.affiliation Li Dongfang	(東京工業大学)
        tr
          th Code Completion System with Keyword Programming
          td.affiliation Shu Aochi	(東京工業大学)
    table
      tbody
        tr.title
          th(colspan="2")
            b 17:10
            |  Session #5 Learnable Programming
        tr
          th プログラミング未経験者を対象としたARを用いたプログラミングツールの開発
          td.affiliation 服部 圭介 (駒澤大学)
        tr
          th プログラミング教育円滑化のための抽象的思考記述システムの提案
          td.affiliation 又吉 康綱 (明治大学)
        tr
          th Supporting Recursive Functions in Live Data Structure Programming
          td.affiliation 岡 明央	(東京工業大学)
        tr
          th 力学モデルを使用した複雑なデータ構造の可視化のアルゴリズム
          td.affiliation 小串 智希 (東京工業大学)
    table
      tbody
        tr.title
          th(colspan="2")
            b 18:20
            |  Session #6 タウンホール
  section#cfp
    h2
      | Call for Participation 
      span.gray (2018年11月21日 更新)
    p.details
      a.red(href="https://goo.gl/forms/hQG4z8RzgeJUJo093") 参加登録する☺
    pre!= call

block members
  h4 発起人（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
