extends ../layout

block vars
  - const title = '第9回勉強会';
  - const path = '9';
  - const call = fs.readFileSync('src/9/call.txt', 'utf8');

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第9回勉強会の開催内容を紹介しています.

block body
  section#overview
    h2 概要
    p プログラミング教育、統合開発環境の拡張、言語処理系、メディアアート向けフレームワークやツールの提案について発表がありました。
    ul
      li
        strong 場所:
        |  オンライン開催（Zoom）
      li
        strong 日時:
        |  2022年3月23日（水）午後1時半～午後4時
      li
        strong テーマ:
        |  「プログラミング体験（PX）に関する研究紹介」
    h2 プログラム
    iframe(style="width: 100%; min-height: 50vh" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSmqfFUh56rqQRoV7VY4EBS3BWhnwMw1846BnVytphkrpZQzyWlmKvHetpxYs_gi9jOKhdgznWRMsMh/pubhtml?gid=2109870622&single=true&widget=true&headers=false")
  section#cfp
    h2
      | Call for Participation 
      span.gray (2022年3月14日 掲載)
    p.details
      a.red(href="https://forms.gle/xjDKnhSCyMjqWQN68") 参加登録する☺
    pre!= call

block members
  h4 幹事団（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所, アーチ株式会社）
    a(href='https://hiroakimikami.github.io/ja/') 三上 裕明
    | （株式会社Preferred Networks）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
