extends ../layout

block vars
  - const title = '第11回勉強会';
  - const path = '11';
  - const call = fs.readFileSync('src/11/call.txt', 'utf8');
  - const eventId = 'eleventh-sigpx';
  - const event = JSON.parse(fs.readFileSync('src/events.json', 'utf8')).find(e => e.id === eventId);

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第11回勉強会の開催内容を紹介しています.

block body
  section#overview
    h2 概要
    ul
      li
        strong 場所:
        |  #{event.details.find(d => d.label.indexOf("場所") >= 0).content}
      li
        strong 日時:
        |  #{event.details.find(d => d.label.indexOf("日時") >= 0).content}
  section#cfp
    h2
      | Call for Participation 
      span.gray (2025年9月3日 掲載)
    pre!= call

block members
  h4 幹事団（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所, アーチ株式会社）
    a(href='https://hiroakimikami.github.io/ja/') 三上 裕明
    | （株式会社Preferred Networks）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京科学大学）
    a(href='https://prg.is.titech.ac.jp/ja/people/cong/') 叢 悠悠
    | （東京科学大学）
