extends ../layout

block vars
  - const title = '第11回勉強会';
  - const path = '11';
  - const call = fs.readFileSync('src/11/call.txt', 'utf8');
  - const eventId = 'eleventh-sigpx';
  - const event = JSON.parse(fs.readFileSync('src/events.json', 'utf8')).find(e => e.id === eventId);

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第11回勉強会の開催内容を紹介しています.

block body
  +bodyForCFP("2025年9月3日", path)
