extends ../../layout

block vars
  - const title = 'The sixth Workshop of SIGPX';
  - const path = 'en/6';

block description
  p SIGPX is a Japanese domestic study group for those interested in programming environments and their programming experience, founded in January 2016. We gather for exchanging information on state-of-the-art research and development projects relevant to programming experience. This page shows the overview of its sixth workshop.

block body
  section#overview
    h2 Overview
    p
      | The sixth workshop was held in conjunction with the NII Shonan meeting on 
      a(href='https://shonan.nii.ac.jp/seminars/147/') Self-supporting, Extensible Programming Languages and Environments for Exploratory, Live Software Development
      | .
    //  <p class="details"><a href="https://goo.gl/forms/8O354OATWo1l2U613" class="red">Register to attend&#9786;</a></p> 
    ul
      li
        strong Location:
        |  
        a(href='https://foundx.jp/about/') FoundX
      li
        strong Date:
        |  3/2/2019 (Sat) 11:00-13:00
      li
        strong Topics:
        |  "International situation and information on SIGPX" and "recent research outcomes"
      li
        a(href='https://sigpx.slack.com/messages/sigpx6/') Slack channel #sigpx6
    h2 Participants
    p Rather than planning a formal timetable for the workshop, we chose to introduce ourselves one by one, casually sharing research outcomes and getting to know each other.
    ul
      li Floris Erich (University of Tsukuba)
      li Hiroaki Mikami (Sony)
      li Yuki Shimada (Meiji University)
      li Mariana Marasoiu (The University of Cambridge)
      li Luke Church (The University of Cambridge)
      li Isamu Hasegawa (Square Enix)
      li Yoshiki Oshima (Y Combinator HARC)
      li Jens Lincke (Hasso Plattner Institute)
      li Fabio Niephaus (Hasso Plattner Institute)

block members
  h4 Founders
  ul
    li
      a#jk(href='https://junkato.jp') Jun Kato
      | , 
      abbr(title='National Institute of Advanced Industrial Science and Technology') AIST
    li
      a(href='http://prg.is.titech.ac.jp/people/masuhara') Hidehiko Masuhara
      | , 
      abbr(title='Tokyo Institute of Technology') Titech
