extends ../layout

block vars
  - const title = '第7回勉強会';
  - const path = '7';
  - const call = fs.readFileSync('src/7/call.txt', 'utf8');

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第7回勉強会の開催内容を紹介しています.

block body
  section#overview
    p(style="float: right; margin: 15px 10px;")
      img(src="http://sigchi.jp/assets/images/SIGCHI_logo.png" width="240")
    h2 概要
    ul
      li
        strong 場所:
        |  東京都渋谷区渋谷（詳細はSlackで告知）
      li
        strong 日時:
        |  2020年2月5日（水）午後1時30分～午後5時
      li
        strong テーマ:
        |  「プログラミング体験（PX）に関する研究紹介」
      li
        strong 共催:
        |  
        a(href="http://sigchi.jp/about.html") Japan ACM SIGCHI Chapter
    h2
      | プログラム 
      span.gray (2020年2月22日 掲載)
    table
      tbody
        tr.title
          th(colspan="2")
            b 14:50
            |  Session #1
        tr
          th Neural Program Synthesis for Competitive Programming
          td.affiliation Hiroaki Mikami（Preferred Networks, Inc.）
        tr
          th A Context-aware Keyword Programming System
          td.affiliation Shu Aochi（東京工業大学）
        tr
          th データ構造の関係性を視認しやすくする自動グラフレイアウト手法
          td.affiliation 小串 智希（東京工業大学）
    table
      tbody
        tr.title
          th(colspan="2")
            b 14:55
            |  Session #2 自己紹介（Lightning Talk）
    table
      tbody
        tr.title
          th(colspan="2")
            b 15:10
            |  Session #3
        tr
          th 社会包摂的なプログラミング環境の設計に向けて
          td.affiliation 加藤 淳（産業技術総合研究所）
        tr
          th 暗号技術とソフトウェア開発者のユーザビリティ
          td.affiliation 金岡 晃（東邦大学）
        tr
          th A Visual Programming Tool for Object-oriented Programming Education
          td.affiliation Sherif Omari（東京工業大学）
        tr
          th Formal Verification for Game QA
          td.affiliation 長谷川 勇 (スクウェア・エニックス)
    table
      tbody
        tr.title
          th(colspan="2")
            b 16:28
            |  Session #4 休憩
    table
      tbody
        tr.title
          th(colspan="2")
            b 16:33
            |  Session #5
        tr
          th デザインレシピに沿ったプログラミングの学習環境
          td.affiliation 能勢純弥（東京工業大学）
        tr
          th 深層学習向けのライブビジュアライゼーション
          td.affiliation 趙 春琪（東京大学）
        tr
          th Halideスケジューリングのライブプログラミングサポート
          td.affiliation Yuka Takahashi（東京大学）
  section#cfp
    h2
      | Call for Participation 
      span.gray (2020年1月17日 掲載; 2020年1月31日 更新)
    pre!= call

block members
  h4 発起人（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所, AIST）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
