extends ../layout

block vars
  - const title = 'プログラミング・エクスペリエンスの新潮流 特集連動ページ';
  - const path = 'ipsj2017';

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは情報処理学会 学会誌の小特集に連動したコンテンツを掲載しています。

block body
  include index.body.pug

block members
  h4 発起人（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
