extends ../layout

block vars
  - const title = '第1回勉強会';
  - const path = '1';
  - const call = fs.readFileSync('src/1/call.txt', 'utf8')

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第1回勉強会の開催内容を紹介しています。

block body
  section#overview
    h2 概要
    p プログラミング言語やプログラミングを支援するツール、統合開発環境などを研究開発している研究者・エンジニアの方々を中心に集まり、自己紹介を兼ねて事例紹介を行いました。
    p
      | 幅広い立場、分野の方の発表があり、懇親会まで議論が尽きませんでした。開催前より
      a(href='https://www.facebook.com/groups/sigpx') Facebookグループ
      | で情報交換を行っていましたが、全体議論の内容も踏まえ、
      a(href='https://sigpx.slack.com') Slack
      | の運用を始めました。Slackへの参加には招待が必要となりますので、ご希望の方は
      a#apply-mail(href) メール
      | でお知らせください。
    //
      
      <p class="note"><strong>2016年1月14日 追記;</strong> 奈良高専 <a href="http://www.info.nara-k.ac.jp/~uwano/">上野 秀剛</a>先生にご参加いただけることになりました。</p>
      <p class="note"><strong>2016年1月9日 追記;</strong> Hasso Plattner Institut <a href="http://www.hpi.uni-potsdam.de/hirschfeld/">Prof. Dr. Robert Hirschfeld</a>氏が来日されているさなかということで、ご参加いただけることになりました。</p>
      
    ul
      li
        strong 場所:
        |  東京工業大学 大岡山キャンパス（遠隔参加も可能）
      li
        strong 日時:
        |  2016年2月27日（土）午前11時～午後6時
      li
        strong テーマ:
        |  「SIGPXに関する国内外の状況・情報の共有と整理」および「参加者各自の自己紹介を兼ねたSIGPX事例紹介」
      li
        a(href='http://togetter.com/li/943493') Togetter
        |  (Twitterでのつぶやきまとめ)
      //
        
          <li><strong>参加予定者の所属:</strong><ul>
              <li><a href="http://prg.is.titech.ac.jp/ja">東京工業大学 増原研究室</a></li>
              <li><a href="http://www-ui.is.s.u-tokyo.ac.jp">東京大学 五十嵐研究室</a></li>
              <li><a href="http://www.pitecan.com/Index">慶應義塾大学 増井研究室</a></li>
              <li><a href="https://fukuchilab.org">明治大学 福地研究室</a></li>
              <li><a href="http://miyashita.com">明治大学 宮下研究室</a></li>
              <li><a href="http://www.hpi.uni-potsdam.de/hirschfeld/">Software Architecture Group, Hasso Plattner Institut</a></li>
              <li><a href="http://hcc.colorado.edu"><abbr title="Human-Centered Computing">HCC</abbr> Group, University of Colorado Boulder</a></li>
              <li><a href="https://staff.aist.go.jp/m.goto/MIG/index-j.html">産業技術総合研究所</a></li>
              <li><a href="http://japan.unity3d.com">Unity Japan</a></li>
              <li><a href="http://kadecot.net">Sony <abbr title="Computer Science Laboratory">CSL</abbr> Kadecot Project</a></li>
            </ul></li>
        
    h2
      | プログラム 
      span.gray (2016年2月17日 掲載; 3月6日更新)
    table
      tbody
        tr.title
          th(colspan='2')
            b 11:00
            |  概論
        tr
          th
            a(href='https://docs.com/junkato/5543/1sigpx-special-interest-group-on-programming') 趣旨説明・アカデミアにおけるSIGPXの潮流
          td.affiliation 加藤・増原 (産業技術総合研究所・東京工業大学)
        tr
          th プログラミングに関するスタートアップの潮流
          td.affiliation
            a(href='https://medium.com/@tumada/') 馬田 隆明
            |  (無職)
    table
      tbody
        tr.title
          th(colspan='2')
            b 11:35
            |  プログラミング体験の計測と設計
        tr
          th How Immediate is Live Programming? Benchmarking Live Programming Environments
          td.affiliation
            a(href='http://www.hpi.uni-potsdam.de/hirschfeld/people/hirschfeld/') Robert Hirschfeld
            |  (Hasso Plattner Institut)
        tr
          th 生体情報を用いたプログラミング能力の測定
          td.affiliation
            a(href='http://www.info.nara-k.ac.jp/~uwano/') 上野 秀剛
            |  (奈良工業高等専門学校 情報工学科)
        tr
          th 「ニヤける体験」をもたらすプログラミング環境のデザイン
          td.affiliation
            a(href='http://miyashita.com') 宮下 芳明
            |  (明治大学)
    table
      tbody
        tr.title
          th(colspan='2')
            b 12:30
            |  お昼ごはん
    table
      tbody
        tr.title
          th(colspan='2')
            b 13:30
            |  プログラミング環境
        tr
          th まずUnity? コーディング?
          td.affiliation
            a(href='https://twitter.com/yoh7686') 𥱋瀨 洋平
            |  (ユニティ・テクノロジーズ)
        tr
          th ビスケットの拡張案
          td.affiliation
            | 原田 康徳 (
            a(href='http://www.digitalpocket.org/') デジタルポケット
            | )
        tr
          th 家電のオンラインプログラミング
          td.affiliation
            a(href='http://kadecot.net') 大和田 茂
            |  (Sony CSL)
    table
      tbody
        tr.title
          th(colspan='2')
            b 14:15
            |  プログラミング環境の拡張
        tr
          th Shigure: Towards Modular Presentation Live Programming Environment
          td.affiliation
            a(href='http://pushl.net') 今井 朝貴
            |  (東京工業大学大学院 増原研究室)
        tr
          th プログラム理解支援のためのコードリーディング支援ツール
          td.affiliation 大村 裕 (東京工業大学大学院 渡部研究室)
        tr
          th 軽量なインタフェースによる小規模バージョン管理手法
          td.affiliation
            a(href='http://www-ui.is.s.u-tokyo.ac.jp/~mhiroaki/') 三上 裕明
            |  (東京大学大学院 五十嵐研究室)
    table
      tbody
        tr.title
          th(colspan='2')
            b 15:00
            |  自己紹介・休憩
    table
      tbody
        tr.title
          th(colspan='2')
            b 15:45
            |  プログラミングの応用
        tr
          th 全世界プログラミング
          td.affiliation
            a(href='http://www.pitecan.com/') 増井 俊之
            |  (慶應義塾大学)
        tr
          th インタラクティブアート制作とプログラミング環境
          td.affiliation
            a(href='http://www.pineapple.cc/') 金谷 一朗
            |  (長崎県立大学)
        //  <tr><th>コミュニケーションのためのプログラミング</th><td class="affiliation"><a href="https://twitter.com/fushimir">伏見 遼平</a> (東京大学大学院 廣瀬谷川研究室)</td></tr> 
        tr
          th 数式→（実装，文書）: OpenGL計算ライブラリ実装の経験から
          td.affiliation
            a(href='https://kwakita.wordpress.com/') 脇田 建
            |  (東京工業大学大学院 情報理工学研究科)
        tr
          th 膨大なサーバ群を制御するソフトウェアとInfrastructure as Code
          td.affiliation
            a(href='http://yumulab.tumblr.com/') 湯村 翼
            |  (情報通信研究機構)
    table
      tbody
        tr.title
          th(colspan='2')
            b 16:45
            |  全体議論
    table
      tbody
        tr.title
          th(colspan='2')
            b 19:00
            |  懇親会
    //  <p class="register"><a href="http://goo.gl/forms/Z0RP87OQye">参加登録する</a><br>※1月末に参加登録〆切予定です</p> 
    //  <p>ご質問などあれば、お気軽に幹事宛てへ<a href="" id="apply-mail">メール</a>などの手段でご連絡ください。<a href="https://www.facebook.com/groups/sigpx">Facebookグループ</a>もあります。</p> 
  section#cfp
    h2
      | Call for Participation 
      span.gray (2016年1月4日 更新)
    pre!= call

block members
  h4 発起人（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所, AIST）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
