extends ../layout

block vars
  - const title = '第10回勉強会';
  - const path = '10';
  - const call = fs.readFileSync('src/10/call.txt', 'utf8');

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。このページでは第10回勉強会の開催内容を紹介しています.

block body
  section#overview
    h2 概要
    p
      | マイコン用開発環境、差分実行によるライブプログラミングの性能向上、深層学習の教育用ツールといった発表のほか、
      a(href="https://prg.is.titech.ac.jp/ja/people/cong/") 叢 悠悠
      | と
      a(href="https://junkato.jp/ja") 加藤 淳
      | から、今年参加した国際ワークショップDagstuhl Seminarについての参加報告がありました。それぞれ、プログラミング体験に関係の深い別々の回（
      a(href="https://www.dagstuhl.de/en/program/calendar/semhp/?semnr=22302") #22302
      | , 
      a(href="https://www.dagstuhl.de/en/program/calendar/semhp/?semnr=22231") #22231
      | ）に参加しています。
    ul
      li
        strong 場所:
        |  オンライン開催（Zoom）
      li
        strong 日時:
        |  2022年12月22日（木）午後1時半～午後4時
      li
        strong テーマ:
        |  「Dagstuhl Seminar参加報告、プログラミング体験（PX）に関する研究紹介」
    h2#recordings Dagstuhl Seminar 参加報告 (録画)
    .row
      .column
        iframe(width="100%" src="https://www.youtube.com/embed/1Z-g2R8y688" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p.caption
          a(href="/10/sigpx10-cong-dagstuhl22302.pdf") 発表スライド (PDF)
      .column
        iframe(width="100%" src="https://www.youtube.com/embed/orxfmDNBdyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p.caption
          a(href="/10/sigpx10-kato-dagstuhl22231.pdf") 発表スライド (PDF)
    h2 プログラム
    iframe(style="width: 100%; min-height: 50vh" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTovJSfl_DGEezXolO81a1i8tt-xJ5RvXK8yA_Kv0QsmFJ_zSkuzZH5QwsDbB0172EU22_iyIwDeq8H/pubhtml?gid=2109870622&single=true&widget=true&headers=false")
  section#cfp
    h2
      | Call for Participation 
      span.gray (2022年12月7日 掲載)
    pre!= call

block members
  h4 幹事団（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所, アーチ株式会社）
    a(href='https://hiroakimikami.github.io/ja/') 三上 裕明
    | （株式会社Preferred Networks）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
