section#overview
  p.detail
    strong Why now? What is this all about?
    |  ── When all computer users were programmers before the birth of Graphical User Interface and the 
    abbr(title='Window, Icon, Menu, Pointer') WIMP
    |  metaphor, there used to be no distinguishment between research on Programming Language, Software Engineering, Human-Computer Interaction, and User Interface. Later on, there came to be a gulf between "the programmer" and "the end user," resulting in the division of research domains. Now is the time when people say anybody {can, should} learn how to do programming ── so, 
    strong
      | why not think of 
      abbr(title='programming experience') PX
      |  (cf. 
      abbr(title='user experience') UX
      | ) from an interdisciplinary perspective?
    |  It seems to be a good timing for all of us to gather interdisciplinary knowledge of relevant research domains.
  p.detail
    | Companies often develop and deploy the state-of-the-art technologies in the field of informatics. It does not make sense to divide research and development. Those who do crazy things are ubiquitous among companies, universities, and research laboratories. We should gather regardless of our affiliations and positions, such as researchers and engineers, 
    strong to discuss programming experience ── to shape the future of programming.
  p.detail
    strong Who are you?
    |  ── 
    strong Researchers
    |  in the relevant research domains such as Programming Language, Software Engineering, Human-Computer Interaction, and User Interface; 
    strong Software engineers
    |  authoring programming environments including Programming Language, Software Development Tools, Integrated Development Environments; 
    strong Cognitive psychologists
    |  and 
    strong anybody interested in Programming Experience
    | .
section#events
  h2
    | The Tenth Workshop 
    span.gray (12/22/2022)
    |  
    span.label NEW!
  ul
    li
      strong Official language:
      |  Japanese
    li
      strong Where:
      |  Online (Zoom)
    li
      strong When:
      |  12/22/2022 1:30pm- (
      abbr(title='Japan Standard Time') JST
      | )
  //  <p class="details"><a href="https://forms.gle/yUWWRV6kMufkdV1WA" class="red">Register to attend &#9786;</a></p> 
  p.details
    a(href='/en/10') More Details? ☺
    br
  h2
    | The Ninth Workshop 
    span.gray (3/23/2022)
  ul
    li
      strong Official language:
      |  Japanese
    li
      strong Where:
      |  Online (Zoom)
    li
      strong When:
      |  3/23/2022 1:30pm-4pm (
      abbr(title='Japan Standard Time') JST
      | )
  p.details
    a(href='/en/9') More Details? ☺
    br
  h2
    | The Eighth Workshop 
    span.gray (3/19/2021)
  ul
    li
      strong Official language:
      |  Japanese
    li
      strong Where:
      |  Online
    li
      strong When:
      |  3/19/2021 11am-3:30pm (
      abbr(title='Japan Standard Time') JST
      | )
  p.details
    a(href='/en/8') More Details? ☺
    br
  h2
    | The Seventh Workshop 
    span.gray (2/5/2020)
  p Around 15 researchers including over half of students attended the event, introducing their latest research work. The attendees provided about 20min presentations and received feedback through discussions and Slack messages.
  p.details
    a(href='/en/7') More Details? ☺
    br
  h2
    | The Sixth Workshop 
    span.gray (3/2/2019)
  p
    | The sixth workshop was held in conjunction with the NII Shonan meeting on 
    a(href='https://shonan.nii.ac.jp/seminars/147/') Self-supporting, Extensible Programming Languages and Environments for Exploratory, Live Software Development
    | .
  p.details
    a(href='/en/6') More Details? ☺
    br
  h2
    | The Fifth Workshop 
    span.gray (12/3/2018)
  p Around 20 researchers including over half of students attended the event, introducing their latest research work. The attendees provided 15min or 10min presentations and received feedback through 3 minutes of discussions and Slack messages.
  p.details
    a(href='/en/5') More Details? ☺
    br
  h2
    | The Forth Workshop 
    span.gray (3/2/2018)
  p
    | Around 20 researchers including about half of students attended the event, introducing their latest research work in a simplified version of 
    a(href='//dreamsongs.com/Files/WritersWorkshopTypeset.pdf') the Writer's Workshop format
    | . Some attendees provided 15min presentations followed by 5 or more minutes of critiques, reviews, and general discussions. Others provided short (3min or more) lightning talks.
  p.details
    a(href='/en/4') More Details? ☺
    br
  h2
    abbr(title='Programming Experience') PX
    |  Special Issue in 
    abbr(title='Information Processing Society of Japan') IPSJ
    |  Journal 
    span.gray (Nov. 2017)
  p
    | A special issue titled 
    strong "Emerging Research on Programming Experience: From Language Design to Industrial Applications"
    |  collected seven articles that covered broad and latest topics in 
    abbr(title='Programming Experience') PX
    | , not only in academia (programming language, software engineering, and human-computer interaction) but also in startup and maker cultures, written by established professionals in the field.
  p.details
    a.blue(href='/en/ipsj2017') More Details? ☺
    br
  h2
    | The Third Workshop 
    span.gray (7/8/2017)
  p Despite the short notice, around 10 researchers and engineers from the world attended the event, presenting their latest outcome and discussing the future of programming experience.
  p.details
    a(href='/en/3') More Details? ☺
    br
  h2
    | The Second Workshop 
    span.gray (8/7/2016)
  p 30 researchers, engineers, and interaction designers dealing with programming languages, tools, integrated development environments attended the event, learning relevant research fields and industry efforts and getting to know each other through long (15-25min) and short (1-3min) introduction of their work.
  p.details
    a(href='/en/2') More Details? ☺
    br
  h2
    | The First Workshop 
    span.gray (2/27/2016)
  p 36 researchers, engineers, and evangelists dealing with programming languages, tools, integrated development environments attended the event, getting to know each other through long (15min) and short (1min) introduction of their work.
  p.details
    a(href='/en/1') More Details? ☺
    br
section#related-events
  h2 Relevant Events and Conferences
  dl
    dt
      a(href='https://liveprog.org/') LIVE: Workshop on Live Programming
    //
      
          <dd>2016年からは毎年開催となった。2013年の初回については下記参照。</dd>
      
    dt
      a(href='https://2021.plateau-workshop.org/') PLATEAU: Workshop on the Intersection of HCI and PL
      |  (previously: Workshop on Evaluation and Usability of Programming Languages and Tools)
    //
      
          <dd>Human-Computer Interaction分野が中心となって、プログラミング言語やツールの評価、ユーザビリティについて議論するワークショップを始めたもの。近年はPL・HCIの結節点という観点を重視。</dd>
      
    dt
      a(href='https://sites.google.com/site/vlhcc2016/') VL/HCC: IEEE Symposium on Visual Languages and Human-Centric Computing
    //
      
          <dd>ビジュアルプログラミング言語に関する国際シンポジウムだったものが、Human-Computer Interaction寄りのプログラミング研究を取り込んでできた国際会議。</dd>
      
    dt
      a(href='http://2015.splashcon.org/track/onward2015-papers') SPLASH Onward!
    //
      
          <dd>プログラミングに関する先進的な概念を発表するための国際ワークショップ。SPLASHのメイントラックであるOOPSLAほど evaluation を課さない代わりに &quot;grand visions and new paradigms&quot; を要求している。</dd>
      
    dt
      a(href='http://uist.acm.org/uist2015/about') UIST: Annual ACM Symposium on User Interface Software and Technology
    //
      
          <dd>ユーザインタフェースに関するトップ国際ワークショップ。プログラミング環境に関する研究もある。</dd>
      
    dt
      a(href='http://chi2016.acm.org/wp/') CHI: Annual ACM Conference on Human Factors in Computing Systems
    //
      
          <dd>Human-Computer Interactionに関するトップ国際会議。プログラミング環境に関する研究もときどきある。</dd>
      
    dt
      a(href='http://www.future-programming.org/') Future Programming Workshop
      |  (Co-located w/ 
      a(href='http://2015.splashcon.org/')
        abbr(title='The ACM SIGPLAN conference on Systems, Programming, Languages and Applications: Software for Humanity (SPLASH)') SPLASH
      |  2015)
    //
      
          <dd>未来のプログラミングを見据えた試みについて紹介するワークショップ。ソフトウェアエンジニア向けイベント<a href="http://www.thestrangeloop.com/">Strange Loop</a>でも併催された。</dd>
      
    dt
      a(href='http://iclc.livecodenetwork.org/2015/') ICLC 2015: International Conference on Live Coding
    //
      
          <dd>Live Coding (即興でプログラミングして音楽や動画を生成するメディア芸術の表現手法)に関する国際会議。2016年は<a href="http://iclc.livecodenetwork.org/2016/">カナダ</a>で開催。</dd>
      
    dt
      a(href='http://liveprogramming.github.io/2013/') LIVE 2013: First International Workshop on Live Programming
      |  (Co-located w/ 
      a(href='http://2013.icse-conferences.org/')
        abbr(title='The International Conference on Software Engineering') ICSE
      |  2013)
    //
      
          <dd>Live Programming (プログラミング中、継続的にプログラムの振る舞いが更新され、フィードバックが返る開発環境)に関する国際ワークショップ。第2回は<a href="http://2016.ecoop.org/home"><abbr title="The European Conference on Object-Oriented Programming">ECOOP</abbr></a> 2016併催となり、<a href="http://2016.ecoop.org/track/LIVE-2016">ローマ</a>で開催。SIGPX発起人 加藤がProgram Committeeメンバー。</dd>
      
    dt
      a(href='http://2016.ecoop.org/track/PX-2016') PX/16: First Edition of the Programming Experience Workshop
      |  (Co-located w/ 
      a(href='http://2016.ecoop.org/home')
        abbr(title='The European Conference on Object-Oriented Programming') ECOOP
      |  2016)
    //
      
          <dd>Programming Experienceに関する国際ワークショップ。SIGPX発起人 増原がCo-chair、加藤がProgram Committeeメンバー。</dd>
      
    dt
      a(href='http://www.ppig.org/node/1000')
        abbr(title='Psychology of Programming Interest Group') PPIG
        |  2016 - 27th Annual Workshop
      |  (Co-located w/ 
      a(href='https://sites.google.com/site/vlhcc2016/')
        abbr(title='IEEE Symposium on Visual Languages and Human-Centric Computing') VL/HCC
      |  2016)
    //
      
          <dd>プログラミングとソフトウェア工学周辺で生じる心理学関連のトピックを扱う歴史の古いワークショップ。</dd>
      
    dt
      a(href='http://2017.programming-conference.org/track/px-2017') PX/17: Second Edition of the Programming Experience Workshop
      |  (Co-located w/ 
      a(href='http://2017.programming-conference.org/home')
        abbr(title='The International Conference on the Art, Science, and Engineering of Programming') <Programming>
      |  2017)
    //
      
          <dd>Programming Experienceに関する国際ワークショップの第2回。SIGPX発起人 増原がCo-chair。</dd>
      
  p
    a(href='http://research.microsoft.com/en-us/projects/touchdevelop/') Publication of the Microsoft Research TouchDevelop team
    |  might also be of your interest. You will see that no event directly deals with programming environments, and yet various venues overlap with the topic. If you find any other relevant conferences/events, 
    a#apply-mail(href='https://junkato.jp') please let me know
    | .
