extends ./layout

block vars
  - const title = 'SIGPX: Special Interest Group on Programming Experience';
  - const path = '';

block description
  p SIGPXは、プログラミングのための環境と、その環境が提供する体験の設計に興味を持つ人で集まり、最新の研究動向や事例について情報交換する会です。

block body
  section#overview
    p.detail
      strong 何でやるの？
      | ──かつてコンピュータのユーザが全員プログラマだった時代、プログラミング言語・ソフトウェア工学とHuman-Computer Interaction・ユーザインタフェースの研究には何の違いもなかったはずです。その後、
      abbr(title='Graphical User Interface') GUI
      | の登場とともにプログラマ・エンドユーザの区別が生まれ、分野が細分化しました。今また、誰もがプログラミングを学ぶべき時代と言われるようになり、これらの研究分野を横断して
      abbr(title='User Experience') UX
      | ならぬ
      abbr(title='Programming Experience') PX
      | すなわち「プログラミング体験」を考え直すべき時期がきているように思います。
    p.detail 企業が最先端の研究をしてデプロイしていることが当たり前のご時世、研究と開発を分けて考えるのもナンセンスかもしれません。面白い取り組みをしている人たちはどこにでもいます。研究者、エンジニア、そういった枠を超えてプログラミング体験について議論する場があったらいいなという思いで、会を作ってみました。
    p.detail
      strong 誰がくるの？
      | ──例えば、プログラミング言語・ソフトウェア工学・Human-Computer Interaction・ユーザインタフェース関連諸分野の研究者や、プログラミングのための環境（言語・ツール・統合開発環境）を研究開発しているエンジニア、プログラミング体験に関して認知心理学的な知見や興味をお持ちの方々などのご参加をお待ちしています。
    p.detail
      | 勉強会が開かれていないときも、
      a(href='https://sigpx.slack.com') Slack
      | で情報交換・議論しています。Slackに参加するには、以下のボタンのリンク先でメールアドレスを記入して招待メールを受け取ってください。フォームが使えない場合は
      a#apply-mail(href) メール
      | でご連絡ください。また、ScrapboxでPXに関する事例を収集しています。ぜひ、自由に編集してください。
    p.details
      a.red(href='https://join.slack.com/t/sigpx/shared_invite/enQtMzY5MzU0NjExNDU4LWVkNzljNTM2OGQxZTU2MDY0ZmNjMmIyZWFlYWYyMTFhYjA2NmZkYjg1NTYwYmRlYmU5YjJkMDc5ODJhNDE3Yzc')
        | Slack
        span.long に参加する
        | 💬
      a.red(href='https://scrapbox.io/projects/ProgrammingExperience/invitations/9445c8169579bb3ab37608d45894a974')
        | Scrapbox
        span.long を見る・編集する
        | 📖
  section#tenth-sigpx
    h2
      span.gray 第10回
      |  勉強会 
      span.label NEW!
    ul
      li
        strong 場所:
        |  オンライン開催（Zoom）
      li
        strong 日時:
        |  2022年12月22日（木）午後1時30分～午後4時
    //  <p>参加登録を受け付け中です。最新情報は<a href="https://join.slack.com/t/sigpx/shared_invite/enQtMzY5MzU0NjExNDU4LWVkNzljNTM2OGQxZTU2MDY0ZmNjMmIyZWFlYWYyMTFhYjA2NmZkYjg1NTYwYmRlYmU5YjJkMDc5ODJhNDE3Yzc">Slack</a>をご覧ください。</p> 
    p マイコン用開発環境、差分実行によるライブプログラミングの性能向上、深層学習の教育用ツールについての発表のほか、PX関連のDagstuhl Seminar 2回分の参加報告がありました。
    p.details
      //  <a href="https://forms.gle/yUWWRV6kMufkdV1WA" class="red">参加登録する&#9786;</a> 
      a(href='/10')
        | 第10回
        span.long の詳しい情報はこちら
        | ☺
  section#ninth-sigpx
    h2
      span.gray 第9回
      |  勉強会
    ul
      li
        strong 場所:
        |  オンライン開催（Zoom）
      li
        strong 日時:
        |  2022年3月23日（水）午後1時30分～午後4時
    p プログラミング教育、統合開発環境の拡張、言語処理系、メディアアート向けフレームワークやツールの提案について発表がありました。
    p.details
      a(href='/9')
        | 第9回
        span.long の詳しい情報はこちら
        | ☺
  section#eighth-sigpx
    h2
      span.gray 第8回
      |  勉強会
    ul
      li
        strong 場所:
        |  オンライン開催
      li
        strong 日時:
        |  2021年3月19日（金）午前11時～午後3時30分
    p ライブプログラミングの新技術や音楽、グラフィックデザインのためのプログラミング環境などの研究紹介がありました。
    p.details
      a(href='/8')
        | 第8回
        span.long の詳しい情報はこちら
        | ☺
  section#seventh-sigpx
    h2
      span.gray 第7回
      |  勉強会
    ul
      li
        strong 場所:
        |  東京都渋谷区渋谷（詳細はSlackで告知）
      li
        strong 日時:
        |  2020年2月5日（水）午後1時30分～午後5時
    p インタラクション研究や機械学習など、さまざまな分野について研究紹介や事例紹介を行いました。
    p.details
      a(href='/7')
        | 第7回
        span.long の詳しい情報はこちら
        | ☺
  section#sixth-sigpx
    h2
      span.gray 第6回
      |  勉強会
    ul
      li
        strong 場所:
        |  
        a(href='https://foundx.jp/about/') FoundX
      li
        strong 日時:
        |  2019年3月2日（土）午前11時～午後1時
    p
      | 第6回は第147回 湘南会議「
      a(href='https://shonan.nii.ac.jp/seminars/147/') Self-supporting, Extensible Programming Languages and Environments for Exploratory, Live Software Development
      | 」にあわせて開催されました。日欧を中心に国際的な研究者が集まって研究内容を紹介しました。
    p.details
      a(href='/6')
        | 第6回
        span.long の詳しい情報はこちら
        | ☺
  section#fifth-sigpx
    h2
      span.gray 第5回
      |  勉強会
    ul
      li
        strong 場所:
        |  
        a(href='https://www.s.u-tokyo.ac.jp/ja/map/map06.html') 東京大学本郷キャンパス 理学部7号館
        |  2階202講義室
      li
        strong 日時:
        |  2018年12月3日（月）午後2時～6時
    p プログラミング言語からインタラクション研究まで、ソフトウェアからハードウェアまで、幅広く盛りだくさんの勉強会となりました。
    p.details
      a(href='/5')
        | 第5回
        span.long の詳しい情報はこちら
        | ☺
  section#forth-sigpx
    h2
      span.gray 第4回
      |  勉強会
    ul
      li
        strong 場所:
        |  
        a(href='http://www.u-tokyo.ac.jp/campusmap/cam01_04_03_j.html') 東京大学本郷キャンパス 工学部2号館
        |  4階242講義室
      li
        strong 日時:
        |  2018年3月2日（金）午後1時～6時
    p
      | しっかり質疑や議論の時間も取りながら、研究発表やLightning Talkを行いました。今回から
      a(href='http://sigchi.jp/about.html') Japan ACM SIGCHI Chapter
      | の共催となりました。
    p.details
      a(href='/4')
        | 第4回
        span.long の詳しい情報はこちら
        | ☺
  section#ipsj2017
    h2
      span.gray 「情報処理」小特集
      |  プログラミング・エクスペリエンスの新潮流
    ul
      li
        strong 掲載誌:
        |  
        a(href='https://ipsj.ixsq.nii.ac.jp/ej/?action=repository_opensearch&index_id=8970') 情報処理学会 学会誌「情報処理」Vol.58 No.11
      li
        strong 購入リンク:
        |  
        a(href='https://www.fujisan.co.jp/product/1300001377/b/1578566/') Fujisan.co.jp
        |  / 
        a(href='http://shop.ohmsha.co.jp/shop/shopdetail.html?brandcode=000000005130') オーム社
        |  / 
        a(href='https://www.amazon.co.jp/dp/B075ZH5JF7/') Amazon.co.jp
    p 本勉強会で扱ってきたさまざまなトピックをカバーした小特集が、情報処理学会の学会誌に掲載されました！
    p.details
      a.blue(href='/ipsj2017')
        | 学会誌連動ページ
        span.long はこちら
        | ☺
  section#third-sigpx
    h2
      span.gray 第3回
      |  勉強会
    ul
      li
        strong 場所:
        |  東京工業大学 大岡山キャンパス 西8号館 W棟 10階 1008室
      li
        strong 日時:
        |  2017年7月8日（土）午前11時～午後4時
    p 開催予告から一週間以内の開催と忙しないスケジュールながら、さまざまな背景の人が集まり、研究紹介や事例紹介を行いました。
    p.details
      a(href='/3')
        | 第3回
        span.long の詳しい情報はこちら
        | ☺
  section#second-sigpx
    h2
      span.gray 第2回
      |  勉強会
    ul
      li
        strong 場所:
        |  
        a(href='https://www.microsoft.com/ja-jp/mscorp/branch/sgt.aspx') 日本マイクロソフト株式会社
        |  品川本社 31F セミナールームC+D（遠隔参加も可能）
      li
        strong 日時:
        |  2016年8月7日（日）午前10時半～午後6時
    p 前回同様、プログラミング言語やプログラミングを支援するツール、統合開発環境などを研究開発している研究者・エンジニアの方々を中心に集まり、自己紹介を兼ねて事例紹介を行いました。また、国際会議などの動向に関する報告セッションも設けました。
    p.details
      a(href='/2')
        | 第2回
        span.long の詳しい情報はこちら
        | ☺
    //
      
      <p>参加には以下のリンク（ボタン）から事前登録が必要です。最新情報は<a href="https://sigpx.slack.com">Slack</a>で確認するのが確実です。Slackに参加するには、<a href="https://join.slack.com/t/sigpx/shared_invite/enQtMzY5MzU0NjExNDU4LTZkN2U3Yjc2M2I3ZDAzMzUyN2E2NThlNDE0ZGZjMDkyNGUwNzVhMzBmMDY5YTNkMTY0YWQyN2JkMjBkMzYwNTU">招待リンク</a>にメールアドレスを記入して招待メールを受け取ってください。フォームが使えない場合は<a href="" id="apply-mail">メール</a>でご連絡ください。</p>
      <p class="register"><a href="https://goo.gl/forms/0bcuaRn3ZgxrRiWL2">第2回の参加申し込みはこちら&#9786;</a><br><strong>登録〆切: 8月2日（火）</strong></p>
      
  section#first-sigpx
    h2
      span.gray 第1回
      |  勉強会
    ul
      li
        strong 場所:
        |  東京工業大学 大岡山キャンパス 西8号館 W棟 10階 1008室（遠隔参加も可能）
      li
        strong 日時:
        |  2016年2月27日（土）午前11時～午後6時
    p プログラミング言語やプログラミングを支援するツール、統合開発環境などを研究開発している研究者・エンジニアの方々を中心に集まり、自己紹介を兼ねて事例紹介を行いました。
    p
      | 幅広い立場、分野の方の発表があり、懇親会まで議論が尽きませんでした。開催前より
      a(href='https://www.facebook.com/groups/sigpx') Facebookグループ
      | で情報交換を行っていましたが、全体議論の内容も踏まえ、
      a(href='https://sigpx.slack.com') Slack
      | の運用を始めました。
    p.details
      a(href='/1')
        | 第1回
        span.long の詳しい情報はこちら
        | ☺
  section#related-events
    h2 関連しそうな学会・イベント
    dl
      dt
        a(href='https://liveprog.org/') LIVE: Workshop on Live Programming
      dd
        | Live Programming (プログラミング中、継続的にプログラムの振る舞いが更新され、フィードバックが返る開発環境)に関する国際ワークショップ。
        a(href='http://liveprogramming.github.io/2013/') 初回
        | は
        a(href='http://2013.icse-conferences.org/')
          abbr(title='The International Conference on Software Engineering') ICSE
        |  2013併催、
        a(href='http://2016.ecoop.org/track/LIVE-2016') 第2回
        | は
        a(href='http://2016.ecoop.org/home')
          abbr(title='The European Conference on Object-Oriented Programming') ECOOP
        |  2016併催となり、その後は
        a(href='https://2018.splashcon.org/track/live-2018-papers') OOPSLA併催ワークショップ
        | となった。SIGPX発起人 加藤がSteering Committee、増原がProgram Committeeを務めている。
      dt
        a(href='https://2021.plateau-workshop.org/') PLATEAU: Workshop on the Intersection of HCI and PL
        |  (previously: Workshop on Evaluation and Usability of Programming Languages and Tools)
      dd Human-Computer Interaction分野が中心となって、プログラミング言語やツールの評価、ユーザビリティについて議論するワークショップを始めたもの。近年はPL・HCIの結節点という観点を重視。
      dt
        a(href='http://programming-experience.org/') PX: The Programming Experience Workshop
      dd
        | Programming Experienceに関する国際ワークショップ。
        a(href='http://2016.ecoop.org/track/PX-2016') 初回
        | は
        a(href='http://2016.ecoop.org/home')
          abbr(title='The European Conference on Object-Oriented Programming') ECOOP
        |  2016併催。
        a(href='http://2017.programming-conference.org/track/px-2017') 第2回
        | は
        a(href='http://2017.programming-conference.org/home')
          abbr(title='The International Conference on the Art, Science, and Engineering of Programming') <Programming>
        | 併催となった。SIGPX発起人 増原と加藤がCo-chairやProgram Committeeなどを務めてきた。
      dt
        a(href='https://conf.researchr.org/home/vlhcc-2021') VL/HCC: IEEE Symposium on Visual Languages and Human-Centric Computing
      dd ビジュアルプログラミング言語に関する国際シンポジウムだったものが、Human-Computer Interaction寄りのプログラミング研究を取り込んでできた国際会議。
      dt
        a(href='https://2021.onward-conference.org/home') SPLASH Onward!
      dd プログラミングに関する先進的な概念を発表するための国際ワークショップ。SPLASHのメイントラックであるOOPSLAほど evaluation を課さない代わりに "grand visions and new paradigms" を要求している。
      dt
        a(href='http://uist.acm.org/uist2021') UIST: Annual ACM Symposium on User Interface Software and Technology
      dd ユーザインタフェースに関するトップ国際ワークショップ。プログラミング環境に関する研究もある。
      dt
        a(href='http://chi2022.acm.org') CHI: Annual ACM Conference on Human Factors in Computing Systems
      dd Human-Computer Interactionに関するトップ国際会議。プログラミング環境に関する研究もときどきある。
      dt
        a(href='http://www.future-programming.org/') Future Programming Workshop
        |  (
        a(href='http://2015.splashcon.org/')
          abbr(title='The ACM SIGPLAN conference on Systems, Programming, Languages and Applications: Software for Humanity (SPLASH)') SPLASH
        |  2015併催)
      dd
        | 未来のプログラミングを見据えた試みについて紹介するワークショップ。ソフトウェアエンジニア向けイベント
        a(href='http://www.thestrangeloop.com/') Strange Loop
        | でも併催された。
      dt
        a(href='http://iclc.livecodenetwork.org/') ICLC: International Conference on Live Coding
      dd
        | Live Coding (即興でプログラミングして音楽や動画を生成するメディア芸術の表現手法)に関する国際会議。初回となる2015年は
        a(href='http://iclc.livecodenetwork.org/2015/') イギリス
        | 、2016年は
        a(href='http://iclc.livecodenetwork.org/2016/') カナダ
        | 、2017年は
        a(href='http://iclc.livecodenetwork.org/2017/') メキシコ
        | で開催。
      dt
        a(href='http://www.ppig.org')
          abbr(title='Psychology of Programming Interest Group') PPIG
      dd プログラミングとソフトウェア工学周辺で生じる心理学関連のトピックを扱う歴史の古いワークショップ。
    p
      a(href='http://research.microsoft.com/en-us/projects/touchdevelop/') Microsoft Research TouchDevelopチームのPublication
      |  も参考になります。（いわゆるプログラミング環境そのものを扱った会議はなく、投稿先が散らばっていることが分かります。）他にもあったら
      a(href='https://twitter.com/intent/tweet?screen_name=arcatdmz') ぜひ教えてください
      | 。

block members
  h4 発起人（順不同）
  p
    a#jk(href='https://junkato.jp/ja') 加藤 淳
    | （産業技術総合研究所）
    a(href='http://prg.is.titech.ac.jp/ja/people/masuhara/') 増原 英彦
    | （東京工業大学）
